body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.swing{
    animation: swing 1.5s infinite alternate ease-in-out;
    transform-origin: top center;
    position: relative;
}
.swing img{
    width: 200px;
    border: 14px groove gold;
    box-shadow: 8px 8px 8px gray;
    display: block;
}
.swing::before{
    content: "";
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 6px;
    height: 50px;
    background-color: grey;
}
.swing::after{
    content: "\2B24";
    position: absolute;
    top: -55px;
    left: 50%;
    transform: translateX(-50%);
    /* width: 20px; */
    height: 10px;
    border-radius: 50%;
}
@keyframes swing {
    0% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(-3deg);        
    }
}
