body{
    background-image: url(/images/speedometer-4781_640.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.heading{
    text-align: center;
    color: white;
}
.t_para{
    text-align: center;
    color: yellow;
}