.simple {
    border: 5px solid red;
}
.box_model1 {
    border: 5px solid red;
    padding: 40px;
    margin: 50px;
}
.box_model2 {
    border: 5px solid red;
    /*padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 70px;
    padding-left: 90px;*/
    padding: 30px 50px 70px 90px; /* top right bottom left */
}
.box_model3 {
    border: 5px solid red;
    margin: 20px;
    /*margin-top: 10px;
    margin-right: 30px;
    margin-bottom: 50px;
    margin-left: 70px;*/
    margin: 90px 50px 70px 90px; /* top right bottom left */
    box-shadow: 4px 4px 5px grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}