.flex-items{
    background-color:darkred;
    margin: 10px;
    width: 200px;
    height: 150px;
    color: white;
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* space-evenly,space-around,space-between */
    justify-content: center;
    align-items: center;
    list-style: none;
    
}
.flex-items img{
    background-image: url("/images/img2/buick-1400243_640.jpg");
    margin: 10px;
    width: 200px;
    height: 150px;
    color: white;
    text-align: center;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.flex-container1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* space-evenly,space-around,space-between */
    justify-content: center;
    align-items: center;
    list-style: none;
    
}
