    /* Mobile first,we start from the smallest viewport width */
    @media (min-width: 320px) and (max-width: 767px) {
        body {
            font-size: 20px;
            background-color: cadetblue;
        }

        p {
            display: none;
        }

        h1,
        h3 {
            color: yellow;
        }

        .img1 {
            display: none;
        }
    }

    /* From 768px and up */
    @media (min-width: 768px) {
        body {
            background-color: lightsalmon;
        }
    }

    /* From 1024px and up */
    @media (min-width: 1024px) {
        body {
            background-color: lightslategray;
        }
    }

    /* From 1224px and up */
    @media (min-width: 1224px) {
        body {
            background-color: maroon;
        }
    }

    /*max-width query */
    /* From 850px and up, until 950px */
    @media (min-width: 850px) and (max-width: 950px) {
        body {
            background-color: darkolivegreen;
        }

        h1,
        h3 {
            color: aqua;
            font-size: 100px;
        }

        .img1 {
            display: none;
        }
    }