.box{
    width: 200px;
    height: 100px;
    background-color: gainsboro;
    border: 4px solid red;
    margin-bottom: 10px;
}
.box1{
    position: static;
}
.box2{
    position: relative;
    top: 20px;
    left: 30px;
}
.box3{
    position: absolute;
    top: 200px;
    left: 300px;
}
.box4{
    position: fixed;
    top: 10px;
    right: 10px;
}
.box5{
    position: sticky;
    top: 0;
    background-color: lightblue;
}