.rel{
    position: relative;
    width: 400px;
    height: 400px;
    background-color: violet;
    top: 20px;
    left: 50px;
}
#tv{
    position: absolute;
    width: 150px;
    height: 30px;
    top: 10px;
    left: 120px;
    background-color: blue;
}
#sofa{
    position: absolute;
    width: 250px;
    height: 60px;
    top: 250px;
    left: 100px;
    background-color: indianred;
}
#fridge{
    position: absolute;
    width: 50px;
    height: 90px;
    top: 100px;
    left: 30px;
    background-color: lawngreen;
}
#table{
    position: absolute;
    width: 100px;
    height: 90px;
    top: 100px;
    left: 150px;
    background-color: slategray;
}