.img_b_shadow1{
    box-shadow: 10px 10px 5px grey;
    width: 400px;
    margin-right: 50px;
}
.img_b_shadow2{
    box-shadow: 0px 0px 15px 5px #fa3737;
    width: 400px;
    margin-right: 50px;
}
.img_b_shadow3{
    box-shadow: -10px 10px 5px 0px rgb(94, 114, 247);
    width: 400px;
    margin-right: 50px;
}
.img_d_shadow1{
    filter: drop-shadow(5px 5px 5px red);
    width: 400px;
    margin-right: 50px;
}
.img_d_shadow2{
    filter: drop-shadow(-5px 5px 5px blue);
    width: 100px;
    margin-right: 100px;
}
.img_d_shadow3{
    filter: drop-shadow(0px 0px 10px green);
    width: 100px;
    margin-right: 50px;
}