div{
            width: 600px;
            height: 400px;
            background-image: red;
            border-radius: 50%;
            position: relative;
            animation: myfirstanimation;
            -webkit-animation: myfirstanimation;
            animation-duration: 3s;
            animation-iteration-count: infinite;
            animation-delay: 2s;
            animation-direction: alternate-reverse;
        }
        @keyframes myfirstanimation
        {
            0%{background-image: url(/images/img2/buick-1400243_640.jpg); left: 0px; top: 0px;}
            25%{background-image: url(/images/img2/capri-790722_640.jpg); 
            left:300px; top: 0px;}
            50%{background-image: url( /images/img2/car-498244_640.jpg);
            left: 300px; top: 300px;}
            75%{background-image: url(/images/img2/ford-8879720_640.jpg); 
            left:0px; top: 300px;}
            100%{background-image:url(/images/img2/buick-1400243_640.jpg);left: 0px; top: 0px;}
        }