.text-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    letter-spacing: 4px;
    font-size: 70px;
    font-weight: 800;
    perspective: 100px;
}
.text-container > b{
    height: 80px;
    box-shadow: 0px 30px 15px gray;
    background: linear-gradient(to right, red,orange,yellow,black);
    background-clip: text;
    color: transparent;
    transform-origin: bottom;
    /* transform: rotateX(-85deg); */
    animation: getUp 10s infinite;
}
.text-container > b:nth-child(1){
    animation-delay: 0s;
}
.text-container > b:nth-child(2){
    animation-delay: 0.25s;
}
.text-container > b:nth-child(3){
    animation-delay: 0.5s;
}
.text-container > b:nth-child(4){
    animation-delay: 0.75s;
}
.text-container > b:nth-child(5){
    animation-delay: 1s;
}
@keyframes getUp {
    from{
        transform: rotateX(85deg);
    }
    10%,50%{
        transform: rotateX(0deg);
    }
    60%,to{
        transform: rotateX(85deg);
    }
}