.t_transform_upper{
    text-transform: uppercase;
}
.t_transform_lower{
    text-transform: lowercase;
}
.t_transform_capitalize{
    text-transform: capitalize;
}
.t_upper_red{
    text-transform: uppercase;
    color: red;
}
.t_lower_blue{
    text-transform: lowercase;
    color: blue;
}
.t_capitalize_green{
    text-transform: capitalize;
    color: green;
}
.t_align_center{
    text-align: center;
}
.t_align_right{
    text-align: right;
}
.t_decor_over{
    text-decoration: overline;
}
.t_decor_line{
    text-decoration: line-through;
}
.t_decor_under{
    text-decoration: underline;
}
.t_decor_all{
    text-decoration: underline overline line-through;
}
.t_indent{
    text-indent: 100px;
}
.t_line_height{
    line-height: 40px;
}
.t_letter_space{
    letter-spacing: 20px;
}
.t_word_space{
    word-spacing: 30px;
}
.t_shadow{
    color: purple;
    text-shadow: 4px 8px 7px red; /* horizontal vertical blur-radius color */
    text-align: center;
    font-size: 70px;
}
.t_shadow2{
    color: green;
    text-shadow: 0px 4px 0px blue;  
    text-align: center;
    font-size: 70px;
}
.t_shadow3{
    color: orange;
    text-shadow: 2px 0px 0px black; 
    text-align: center;
    font-size: 70px;
}
