.z-container {
            position: relative;
            margin: 50px;
        }

        div{
            position: absolute;
            width: 150px;
            height: 150px;
            color: white;
            text-align: center;
            border-radius: 100px;
            font-size: 20px;
            border: 3px solid white;
        }
        .blue {
            left: 60px;                              
            background-color: blue;
            z-index: 1; /* Lowest */
        }
        .green {
            left: 120px;
            background-color: green;
            z-index: 2; /* Middle */
        }
        .red {
            left: 180px;
            background-color: red;
            z-index: 3; /* Highest */
        }